body {
	background-image:url("blue.jpg");
	}
h1 {
	text-align: center;
	font-family: forte;
	font-size: 22pt;
}
h2 {
	text-align: center;
	font-size: 24pt;
	color: #ccccff;
}
img {
	display: block; margin: auto;
}
table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	margin-left: 3cm;
}
th, td {
	padding: 10px;
}
th {
	background-color: #3399ff;
	text-align: center;
}
td {
	background-color: white;
	text-align: left;
}
h2 {
	text-align: center;
	font-size: 24pt
	color: #00cc00;
}
p {
	margin-right: 2cm;
	margin-left: 2cm;
	text-align: justify;
	font-family: "Georgia";
	color : white;
	padding : 5px;
	cursor: wait;
}
.latar {
	width : 950px;
	margin : auto;
	background-color:  #00264d ;
}